.testcase_list_element
  %div{ :class => "status_cell_#{testcase.status}" }
  .checkbox_cell
    = check_box_tag "testcase_id[]", testcase.id
  .title_cell
    = link_to testcase.title, testcase_path(testcase)
    .result_cell
      = icon_url icon: :cog_go, text: "Run", url: new_testcase_testcase_result_path(testcase.id)
      Filed under:
      = render partial: 'testcases/show_tags', locals: { tags: testcase.tags } if testcase.tags
  .info_cell
    %span
      Last executed by:
    %span.bold
      Junther
    %span
      on #{testcase.last_executed_time}
