%h1 New testcase

- form_for(@testcase) do |f|
  = f.error_messages

  %p
    = f.label :title
    %br
    = f.text_field :title

    #steps
      - f.fields_for :teststeps do |builder|
        = render 'step', :f => builder

    #steps_menu
      = link_to_function "Add a step" do |page|
        - f.fields_for :teststeps, Teststep.new do |builder|
          - page.insert_html :bottom, :steps, :partial => 'step', :locals => { :f => builder }

  %p= f.submit "Create"

= link_to 'Back', testcases_path
