%h1 New testcase

- form_for(@testcase) do |f|
  = f.error_messages

  %p
    = f.label :title
    %br
    = f.text_field :title

    #steps
      = render :partial => 'step', :collection => @testcase.teststeps

    #steps_menu
      = link_to_function "Add a step" do |page|
        - page.insert_html :bottom, :steps, :partial => 'step', :object => Teststep.new

  %p= f.submit "Create"

= link_to 'Back', testcases_path
