- form_for(@testcase) do |f|
  = f.error_messages

  %p
    = f.label :title
    %br
    = f.text_field :title
    %br
    = f.label :tags
    %br
    = f.text_field :tags_string

    #steps
      - f.fields_for :teststeps do |builder|
        = render 'teststep_fields', :f => builder

    #steps_menu
      = link_to_add_fields "Add a step", f, :teststeps

  %p= f.submit "Create"

= link_to 'Back', testcases_path
