%h1
  = @testcase.title
= render partial: 'show_tags', locals: { tags: @testcase.tags }

%h2 This case consists of
= render partial: 'show_step', locals: { teststeps: @testcase.teststeps }


= button_url icon: :arrow_left, text: 'Overview', url: testcases_path
= button_url icon: :cog_go, text: 'Run', url: new_testcase_testcase_result_path(@testcase.id)
