%h1
  = @testcase.title
= render partial: 'show_tags', locals: { tags: @testcase.tags }

%h2 This case constists of
= render :partial => 'show_step', locals: { teststeps: @testcase.teststeps }

= link_to 'Edit', edit_testcase_path(@testcase)
|
= link_to 'Back', testcases_path
|
= link_to 'Run', new_testcase_testcase_result_path(@testcase.id)
