%h1 Listing teststep_results

%table
  %tr
    %th Teststep
    %th Result

- for teststep_result in @teststep_results
  %tr
    %td= teststep_result.teststep
    %td= teststep_result.result

    %td= link_to 'Show', teststep_result
    %td= link_to 'Edit', edit_teststep_result_path(teststep_result)
    %td= link_to 'Destroy', teststep_result, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New teststep_result', new_teststep_result_path
