.teststep
  %h2 Step ##
  %p
    = f.object.teststep.description
  %p
    = f.hidden_field :result
    = f.hidden_field :teststep_id
  
    - i = "res_#{rand(1000000)}"
    = "<a id=\"successful_#{i}\" href=\"javascript:markItemAsSuccessful('#{i}');\">mark successful</a>"
    = "<a id=\"failed_#{i}\" href=\"javascript:markItemAsFailed('#{i}');\">mark failed</a>"


