%h1 New testcase_result
%h2
  = @testcase_result.testcase.title

- form_for(@testcase_result) do |f|
  - f.fields_for :teststep_results do |builder|
    = render 'new_step_result', :f => builder
  = f.hidden_field :testcase_id 
  = link_to 'Back', testcases_path
  = submit_tag 'Create'
