%h1 New testcase_result
%h2
  = @testcase_result.testcase.title

- i = 0
- form_for(@testcase_result) do |f|
  - f.fields_for :teststep_results do |builder|
    = render 'new_step_result', {:f => builder, :i => i += 1}
  = f.hidden_field :testcase_id 
  = icon_url icon: :arrow_left, text: 'Back', url: testcases_path
  = icon_url icon: :disk, text: 'Save', url: "javascript:$('form').submit();"
