%h1 New testcase_result
%h2
  = @testcase_result.testcase.title

- form_for(@testcase_result) do |f|
  = render :partial => 'testcase_results/new_step_result', :collection => @testcase_result.teststep_results
  = f.hidden_field :testcase_id 
  = link_to 'Back', testcase_results_path
  = submit_tag 'Create'
