!!!

%html
  %head
    %title Edgebug
    = stylesheet_link_tag "typo.css"
    = stylesheet_link_tag "layout.css"
    = stylesheet_link_tag "testcase.css"

  %body
    #main_container
      #header
        = render :partial => "layouts/header"
      #content_container
        = yield :layout
      #footer
        = render :partial => "layouts/footer"
