!!!

%html
  %head
    %title Edgebug
    = stylesheet_link_tag "colors.css"
    = stylesheet_link_tag "typo.css"
    = stylesheet_link_tag "layout.css"

  %body
    #main_container
      #header.base_green_bg
        = render :partial => "layouts/header"
      #content_container
        = yield :layout
      #footer
        = render :partial => "layouts/footer"
