!!!

%html
  %head
    %title Edgebug
    = stylesheet_link_tag "typo.css"
    = stylesheet_link_tag "layout.css"
    = stylesheet_link_tag "testcase.css"
    = stylesheet_link_tag "tag.css"
    = javascript_include_tag :defaults
    = javascript_include_tag "jquery"
    = javascript_include_tag "jquery-ui"
    = javascript_include_tag "jrails"

  %body
    #main_container
      #header
        = render :partial => "layouts/header"
      #content_container
        = yield :layout
      #footer
        = render :partial => "layouts/footer"
